/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style de base pour la page */
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style pour le slider d'images */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.slider img {
  border: 1px solid #ddd;
  margin: 0 10px;
  transition: all 0.3s ease;
}
.slider img:hover {
  border: 1px solid #007bff;
  transform: scale(1.05);
}

/* Style pour le titre et le prix */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
h1 span {
  font-weight: normal;
  color: #999;
  margin-right: 10px;
}
h1:after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #ddd;
  margin: 10px auto;
}

img {
  height: 200px;
  width: 200px;
  margin: 40px;
}

/* Style pour le bouton d'achat */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #0062cc;
  transform: scale(1.1);
}

/* Style pour la section de description */
div {
  margin: 20px 0;
  padding: 0 20px;
}
div p {
  line-height: 1.5;
  text-align: justify;
}
div p span {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}

/* Style pour les informations du produit */
div:nth-of-type(n + 6) {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
div:nth-of-type(n + 6) p {
  margin: 10px 0;
}

/* Style pour les informations du produit */
div:nth-of-type(n + 6):last-of-type {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

/* Style pour la section de marque */
div:nth-of-type(6) p {
  font-weight: 400;
}
div:nth-of-type(6) p span {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}

/* Style pour la section de dimensions */
div:nth-of-type(7) p {
  font-weight: 400;
}
div:nth-of-type(7) p span {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}

/* Style pour la section de poids */
div:nth-of-type(8) p {
  font-weight: 400;
}
div:nth-of-type(8) p span {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}

/* Style pour la section de composition */
div:nth-of-type(9) p {
  font-weight: 400;
}
div:nth-of-type(9) p span {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}/*# sourceMappingURL=styles.css.map */